<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto</title>
</head>

<body>
    <h2>Crypto personalized!</h2>
    <h3>You can't predict! You can only prepare.</h3>

    <p>Enter your email: <input type="email" name="email" id="email"> </p>
    <p>Pick some coins to track:</p>
    <ul>
        <li> <input type="checkbox" name="coin" id="Bitcoin"> Bitcoin </li>
        <li> <input type="checkbox" name="coin" id="Dogecoin"> Dogecoin </li>
        <li> <input type="checkbox" name="coin" id="Litecoin"> Litecoin </li>
        <li> <input type="checkbox" name="coin" id="NEO"> NEO </li>
        <li> <input type="checkbox" name="coin" id="Ethereum"> Ethereum </li>
    </ul>
    <input type="button" value="submit">
</body>

</html>
